
body{
display: flex;
justify-content: center;
align-items: center;
background-color: #292727;
flex-direction: column;
}

#textbox{
width: 600px;
height: 50px;
border: 2px solid white;
margin-top: 50px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
letter-spacing: 1px;
font-size: 22px;
background-color: #bf7577;
color: white;
}

.divek{
margin-top: 10px;
}

button{
margin: 5px;
padding: 10px;
font-size: 15px;
}

